* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #72BF78;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #A0D683 ;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header img.icon-header {
  position: absolute;
  top: 10px;
  left: 60px;
  max-width: 50px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  border-radius: 50%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

.add-tarefa-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
}

.add-tarefa-form label {
  margin: 5px 0 2px;
}

.add-tarefa-form input,
.add-tarefa-form button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-tarefa-form button {
  background-color: #D3EE98;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

.add-tarefa-form button:hover {
  background-color: #b6d672;
}

.tarefa-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin-top: 20px;
  gap: 10px;
}

@media (min-width: 768px) {
  .tarefa-container {
    flex-direction: row;
  }
}

.tarefa-box {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tarefa-box h2 {
  margin-bottom: 10px;
}

.lista-tarefa {
  list-style-type: none;
  padding: 0;
}

.lista-tarefa li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-tarefa li span {
  flex: 1;
}

.tarefaInput,
.dataInput {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 9px;
  flex: 1;
}

.tarefaInput:focus,
.dataInput:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.lista-tarefa li button {
  background-color: #dd3f3f;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.lista-tarefa li button:hover {
  background-color: #971d1d;
}

.lista-tarefa li .complete-btn {
  background-color: #36cf3b;
}

.lista-tarefa li .complete-btn:hover {
  background-color: #45a049;
}

.lista-tarefa li .edit-btn {
  background-color: #cf9236;
}

.lista-tarefa li .edit-btn:hover {
  background-color: #bc5a04;
}

#delete-all-completed {
  background-color: #dd3f3b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#delete-all-completed:hover {
  background-color: #971d1d;
}

footer {
  background-color: #A0D683;
  color: black;
  width: 100%;
  height: 10%px;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer p {
  margin: 0;
}

/* Responsividade */
@media (max-width: 500px) {
  h1 {
    font-size: 1.5em;
  }

  .add-tarefa-form {
    width: 95%;
  }

  .tarefa-container {
    flex-direction: column;
  }

  .tarefa-box {
    margin: 5px 0;
  }
}
