* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(56, 41, 255) , rgb(129, 32, 255));
  background-color:rgb(114, 32, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header img.icon-header {
  position: absolute;
  top: 10px;
  left: 60px;
  max-width: 50px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  border-radius: 50%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

.add-tarefa-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
}

.add-tarefa-form label {
  margin: 5px 0 2px;
}

.add-tarefa-form input,
.add-tarefa-form button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-tarefa-form button {
  background-color: #36cf3b;
  color: white;
  border: none;
  cursor: pointer;
}

.add-tarefa-form button:hover {
  background-color: #45a049;
}

.tarefa-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin-top: 20px;
  gap: 10px;
}

@media (min-width: 768px) {
  .tarefa-container {
    flex-direction: row;
  }
}

.tarefa-box {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tarefa-box h2 {
  margin-bottom: 10px;
}

.lista-tarefa {
  list-style-type: none;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lista-tarefa li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-tarefa li span {
  flex: 1;
}

.lista-tarefa li button {
  background-color: #dd3f3f;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.lista-tarefa li button:hover {
  background-color: #971d1d;
}

.lista-tarefa li .complete-btn {
  background-color: #36cf3b;
}

.lista-tarefa li .complete-btn:hover {
  background-color: #45a049;
}

.lista-tarefa li .edit-btn {
  background-color: #cf9236;
}

.lista-tarefa li .edit-btn:hover {
  background-color: #bc5a04;
}
